services:

  champion: 
    image: markw/fair-champion:0.3.0
    environment:
      - TESTHOST=https://tests.ostrails.eu/tests/
      - CHAMPHOST=http://localhost:8383/
    ports:
      - "8383:4567"


  swagger-converter:
    image: swaggerapi/swagger-converter:latest 
    container_name: swagger-converter  
#    ports:
#      - "8081:8080"  
