---
http_interactions:
- request:
    method: post
    uri: https://tools.ostrails.eu/repositories/fdpindex-fdp
    body:
      encoding: US-ASCII
      string: query=++++++++PREFIX+rdf%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%3E%0A++++++++PREFIX+rdfs%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0A++++++++SELECT+distinct+%3Fendpoint+WHERE+%7B%0A++++++++++%3Chttps%3A%2F%2Ftests.ostrails.eu%2Ftests%2Ffc_metadata_includes_license%3E+%3Chttp%3A%2F%2Fwww.w3.org%2Fns%2Fdcat%23endpointURL%3E+%3Fendpoint+.%0A++++++++%7D%0A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/sparql-results+json;charset=UTF-8
      Content-Disposition:
      - attachment; filename=query-result.srj
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        {
          "head" : {
            "vars" : [
              "endpoint"
            ]
          },
          "results" : {
            "bindings" : [
              {
                "endpoint" : {
                  "type" : "uri",
                  "value" : "https://tests.ostrails.eu/assess/test/fc_metadata_includes_license"
                }
              }
            ]
          }
        }
  recorded_at: Mon, 25 Aug 2025 11:58:02 GMT
recorded_with: VCR 6.3.1
