<h2 class="mb-3">Conclusions:</h2>
<ul class="list-group p-2">
  <% narratives.each_with_index do |narrative, index| %>
    <li class="list-group-item p-2"><%= index + 1 %>. <%= narrative %></li>
  <% end %>
</ul>