<h2 class="mb-3">Conclusions:</h2>
<table><tr><th>Condition</th><th>Discussion</th><th>Guidance</th></tr>
  <% warn "GUIDANCES: " + guidances.inspect %>
  <% narratives.each_with_index do |narrative, index| %>
    <% guidance = guidances[index] %>
    <tr><td class="list-group-item p-2"><%= index + 1 %></td>
    <td class="list-group-item p-2"><%= narrative %></td>
    <% if guidance %> <!-- guidance might not exist if all tests passed -->
      <td class="list-group-item p-2">
        <% guidance.each do |g| %>
          <%= g[1] %>. <a href="<%= g[0] %>">More Information</a><br/><br> 
        <% end %>
      </td>
    </tr>
    <% end %>
  <% end %>
</table>