<!-- views/algorithm_layout.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Quality Assessment</title>
  <link rel="stylesheet" href="https://tools.ostrails.eu/champion/css/styles.css">
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>