<!-- views/layout.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/champion/css/styles.css">
</head>
<body id="<%= request.path_info == '/champion/algorithm/run' ? 'algorithm-output' : 'default' %>">
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
