<div class="container">

    <div class="custom-container" style="max-width: 108rem; width: 100%; margin-left: auto; margin-right: auto; padding: 20px;">
      <div style="display: block; margin-left: auto; margin-right: auto; padding: 20px;">
        <div>
          <%= erb :_metadata, locals: { metadata: @result[:metadata] } %>
        </div>
        <br/><br/>
        <div>
          <%= erb :_test_results, locals: { test_results: @result[:test_results] } %>
        </div>
        <br/><br/>
        <div>
          <%= erb :_narratives, locals: { narratives: @result[:narratives] } %>
        </div>
      </div>
    </div>
</div>