<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/champion/css/styles.css">
  <title>FAIR Champion</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="/champion/champion_whitebgcrop.png" alt="FAIR Champion Logo"/>
      <h2>FAIR Champion</h2>
    </div>
    
    <div class="form-card">
      <h3>What do you want to do today?</h3>
      <ul>
        <li>
          <a href="https://tests.ostrails.eu/tests">Run individual FAIR Tests on a Digital Object</a> 
          (this sends you to the "Tests" server)
        </li>
        <li>
          <a href="/champion/assess/benchmark/new">Run Benchmark-associated Tests on a Digital Object</a>  (raw test output)
        </li>
        <li>
          <a href="/champion/assess/algorithm/new">Execute a Benchmark Quality Assessment on a Digital Object</a>
        </li>
      </ul>
    </div>

  </div>
</body>
</html>
