<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/champion/css/styles.css">
  <title>FAIR Champion</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="/champion/champion_whitebgcrop.png" alt="FAIR Champion Logo"/>
      <h2>FAIR Champion</h2>
    </div>
    
    <div class="form-card">
      <div class="header"><h3>What do you want to do today?</h3></div>
        <div class="form-card">
          <div class="header">
            <ul>
              <li>
                <a href="/champion/tests">List all Tests in OSTrails Registry</a>
              </li>
              <li>
                <a href="https://tests.ostrails.eu/tests">Run individual Tests on a Digital Object</a> 
                (this sends you to the "Tests" server; Champion tests only!)
              </li>
              <li>
                <a href="/champion/assess/algorithms/new">Execute a Benchmark Quality Assessment on a Digital Object</a>
              </li>
              <li>
                <a href="/champion/algorithms">List Champion Benchmark Quality Assessment Algorithms</a>
              </li>
              <li>
                <a href="/champion/algorithms/new">Register a new Benchmark Quality Assessment Algorithm</a>
              </li>
              <li>
                <a href="https://tests.ostrails.eu/tests/new">Register a new Metric Test</a>
              </li>
            </ul>
          </div>
        </div>
    </div>

  </div>
</body>
</html>
