<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/champion/css/styles.css">
  <title>FAIR Champion: Benchmark Assessment</title>
</head>

<body>
  <div class="container">
    <div class="header">
      <img src="/champion/champion_whitebgcrop.png" alt="FAIR Champion Logo"/>
      <h2>FAIR Champion: Benchmark Execution</h2>
    </div>
  </div>

  <div class="container">

    <header class="header">
        <div class="code-block">
          <p>Generic CURL command (note that you POST including the benchmark ID):</p>
          <pre>
  curl -H "Content-type: application/json" -H "Accept: application/json" 
    -d '{"resource_identifier": "https://exampledataset.org", "bmid": "https://fairsharing.org/10.123/456.789"}' 
      https://tools.ostrails.eu/champion/assess/benchmark/
          </pre>
        </div>
    </header>
  </div>

  <div class="container">

    <div class="form-card">
      <h3>Select Benchmark and GUID to Assess:</h3>
      <form action="/champion/assess/benchmark/" method="post">
        <div class="form-group mb-3">
          <label>Benchmark (URL of Benchmark DCAT record):</label><br/>
          <input type="text" name="bmid"><br/>
          <span class="example">example: https://ostrails.github.io/sandbox/mockbenchmark1.ttl</span>
        </div>
        <div class="form-group mb-3">
          <label>GUID to test:</label><br/>
          <input type="text" name="resource_identifier"><br/>
          <span class="example">example: https://w3id.org/duchenne-fdp</span>
        </div>
        <div class="form-group mb-3">
          <input type="submit" value="Begin Benchmark Assessment">
        <div>
      </form>
    </div>
  </div>
</body>