<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>FAIR Champion: Tests</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/champion/css/styles.css"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body id="default">
  <div class="container" style="max-width: 80rem; width: 100%; margin-left: auto; margin-right: auto; padding: 20px;">
    <div class="header">
      <a href="/champion"><img src="/champion/champion_whitebgcrop.png" alt="FAIR Champion Logo"/></a>
      <h2><%= @tests.length %> Tests Available in the Registry</h2>
    </div>

    <header class="header">
        <div class="code-block">
          <p>Generic CURL command:</p>
          <pre>
  curl -H "Accept: application/json" https://tools.ostrails.eu/champion/tests
          </pre>
        </div>
    </header>



    <%= yield %>
  </div>
</body>
</html>