<h2>New Evaluation</h2>
<h3>Using Set: <%= @setid %> </h3>

<form action = "/champion/sets/<%= @setid %>/assessments/" method="post">
GUID to test: <input type=text name="resource_identifier"><br/>
<br/>
<input type="submit" value="Begin Assessment">
</form>